@font-face { 
    font-family: "GoogleSansRegular";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/GoogleSans/Regular.eot");
    src: url("../fonts/GoogleSans/Regular.eot?#iefix")format("embedded-opentype"),
    url("../fonts/GoogleSans/Regular.woff") format("woff"),
    url("../fonts/GoogleSans/Regular.ttf") format("truetype");
}
@font-face { 
    font-family: "GoogleSansMedium";
    font-style: normal;
    font-weight: 500;
    src: url("../fonts/GoogleSans/Medium.eot");
    src: url("../fonts/GoogleSans/Medium.eot?#iefix")format("embedded-opentype"),
    url("../fonts/GoogleSans/Medium.woff") format("woff"),
    url("../fonts/GoogleSans/Medium.ttf") format("truetype");
}
@font-face { 
    font-family: "MontserratRegular";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/Montserrat/Regular.eot");
    src: url("../fonts/Montserrat/Regular.eot?#iefix")format("embedded-opentype"),
    url("../fonts/Montserrat/Regular.woff") format("woff"),
    url("../fonts/Montserrat/Regular.ttf") format("truetype");
}
@font-face { 
    font-family: "OpenSansSemiBold";
    font-style: normal;
    font-weight: 600;
    src: url("../fonts/OpenSans/SemiBold.eot");
    src: url("../fonts/OpenSans/SemiBold.eot?#iefix")format("embedded-opentype"),
    url("../fonts/OpenSans/SemiBold.woff") format("woff"),
    url("../fonts/OpenSans/SemiBold.ttf") format("truetype");
}
@font-face { 
    font-family: "PoppinsRegular";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/Poppins/Regular.eot");
    src: url("../fonts/Poppins/Regular.eot?#iefix")format("embedded-opentype"),
    url("../fonts/Poppins/Regular.woff") format("woff"),
    url("../fonts/Poppins/Regular.ttf") format("truetype");
}
@font-face { 
    font-family: "PoppinsMedium";
    font-style: normal;
    font-weight: 500;
    src: url("../fonts/Poppins/Medium.eot");
    src: url("../fonts/Poppins/Medium.eot?#iefix")format("embedded-opentype"),
    url("../fonts/Poppins/Medium.woff") format("woff"),
    url("../fonts/Poppins/Medium.ttf") format("truetype");
}
@font-face { 
    font-family: "PoppinsSemiBold";
    font-style: normal;
    font-weight: 600;
    src: url("../fonts/Poppins/SemiBold.eot");
    src: url("../fonts/Poppins/SemiBold.eot?#iefix")format("embedded-opentype"),
    url("../fonts/Poppins/SemiBold.woff") format("woff"),
    url("../fonts/Poppins/SemiBold.ttf") format("truetype");
}
@font-face { 
    font-family: "PoppinsBold";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/Poppins/Bold.eot");
    src: url("../fonts/Poppins/Bold.eot?#iefix")format("embedded-opentype"),
    url("../fonts/Poppins/Bold.woff") format("woff"),
    url("../fonts/Poppins/Bold.ttf") format("truetype");
}
@font-face { 
    font-family: "VolkhovBold";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/Volkhov/Bold.eot");
    src: url("../fonts/Volkhov/Bold.eot?#iefix")format("embedded-opentype"),
    url("../fonts/Volkhov/Bold.woff") format("woff"),
    url("../fonts/Volkhov/Bold.ttf") format("truetype");
}