.cta-button {
    font-family: 'GoogleSansMedium';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 23px;
    text-align: center;
    color: #FFFFFF;
    background: $button-color;
    box-shadow: 0px 20px 35px rgba(241, 165, 1, 0.15);
    border-radius: 10px;
    padding: 19px 26px;
    text-decoration: none;
}